<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark elegant-color" [containerInside]="true">
	<mdb-navbar-brand>
		<div class="logo navbar-brand" [routerLink]="link"><strong>Manga Reader</strong></div>
	</mdb-navbar-brand>
</mdb-navbar>