.app {
	width: 100%;
	height: 100%;
	background-color: #fafafa;
	position: relative;

	.view {
		height: 100%;
		width: 100%;

		.navbar__mini {
			height: 100%;
			width: 80px;
			position: absolute;
			z-index: 2;
		}
		
		.app__container {
			padding-left: 80px;
			background-image: url('../../../../assets/images/bg.png');
			background-repeat: no-repeat;
			background-position: right bottom;
			background-size: auto 90%;
			height: 100%;
			overflow-x: hidden;
			overflow-y: auto;
		}
	}
}