<div class="app">
	<ng-progress #progressBar></ng-progress>
	<app-navbar></app-navbar>
	<div class="view mt-6">
		<div class="view row h-100">
			<div class="navbar__mini">
				<app-navbar-mini></app-navbar-mini>
			</div>
			<div class="app__container col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 h-100">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</div>
