<form class="form-inline md-form form-lg justify-content-center" (submit)="onSubmit(searchInput.value)" #searchForm="ngForm">
	<i class="fa fa-search" aria-hidden="true"></i>
	<input #searchInput class="form-control form-control-lg ml-3 w-75" type="text" placeholder="Search" aria-label="Search" mdbInputDirective/>
</form>
