
.manga-item {
	margin: 0px 8px 15px 8px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
	padding: 2px 2px;
	color: #000;
	background-color: #fff;

	.cover {
		width: 130px;
		height: 180px;
	}
	.title {
		width: 130px;
		text-decoration: none;
		white-space: nowrap;
		overflow: hidden;
        text-overflow: ellipsis;
	}
	.bookmark-button {
		margin: 0;
		width: 100%;
	}
}