<div class="manga-item" title="{{ title }}">
	<img [src]="cover" class="cover">
	<div class="title">{{ title }}</div>
	<div *ngIf="create">
		<button mdbBtn type="button" color="elegant" class="waves-light bookmark-button" mdbWavesEffect (click)="addBookmark(link, title, cover)">Добавить</button>
	</div>
	<div *ngIf="!create">
		<button mdbBtn type="button" color="elegant" class="waves-light bookmark-button" mdbWavesEffect [routerLink]="link">Читать</button>
	</div>
</div>