html, body {
	height: 100%;
	width: 100%;
}
.mt-6 {
	padding-top: 3.5rem !important;
}
.h-100 {
	height: 100% !important;
}
.h-99 {
	height: 99% !important;
}
.preloader {
	position: absolute;
	width: 90%;
	margin: 0 auto;
}