<div class="container justify-content-center">
	<app-search-input (search)="onSearch($event)"></app-search-input>
</div>

<div class="container justify-content-center">
	<app-preloader [display]="display ? 'block' : 'none'"></app-preloader>
	<div [style.display]="display ? 'none' : 'block'" class="mangas">
		<div *ngFor="let manga of mangas" class="manga-item">
			<app-manga-item [title]="manga.title" [cover]="manga.cover" [link]="manga.link" (addManga)="onAddManga($event)"></app-manga-item>
		</div>
	</div>
</div>