.images-block {
	text-align: center;

	.image {
		display: block;
		margin: 0 auto;
		padding: 10px;
	}

	.image-controls {
		position: fixed;
		width: 90%;
		top: 50%;
		z-index: 2;

		.prev-btn {
			float: left;
		}
		.next-btn {
			float: right;
		}
		.prev-btn, .next-btn {
			cursor: pointer;
			width: 50px;
			height: 50px;
			background-color: #333;
			color: #fff;
			border-radius: 50%;
			border: none;
			box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
			border: 0;
			padding: 0.1rem;

			i {
				vertical-align: middle;
			}
		}
	}

	.chapter-control {
		position: fixed;
		width: 90%;
		top: 75px;
		z-index: 2;

		.change-slide {
			float: left,
		}
		.change-chapter {
			float: right;
		}
	}
}