.chapters-list-title {
	text-align: center;
}

.m-0 {
	margin: 0 !important;
	width: 100% !important;
}

.mangas {
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
	width: 100%;
	position: relative;

	.manga-item {
		display: inline-block;
	}
}
