<div class="container justify-content-center">
	<h3 class="chapters-list-title mt-3">Закладки</h3>
</div>

<div class="container justify-content-center">
	<app-preloader [display]="display ? 'block' : 'none'"></app-preloader>
	<div [style.display]="display ? 'none' : 'block'" class="mangas">
		<div *ngFor="let bookmark of bookmarks" class="manga-item">
			<app-manga-item [title]="bookmark.manga_title" [cover]="bookmark.manga_cover" [link]="bookmark.manga_link" [manga_id]="bookmark.manga_id"></app-manga-item>
		</div>
	</div>
</div>