.navbar__mini-container {
	height: 100%;
	background-color: #212121;

	.list-group {
		color: #fff;

		.list-group-item {
			text-align: center;
			cursor: pointer;
			background-color: #212121;
		}
	}
}