<div class="navbar__mini-container">
	<div class="list-group">
		<div class="list-group-item waves-light" mdbWavesEffect [routerLink]="'/search'"><i class="material-icons">search</i></div>
		<div class="list-group-item waves-light" mdbWavesEffect [routerLink]="'/bookmarks'"><i class="material-icons">bookmark</i></div>
		<div class="list-group-item waves-light" mdbWavesEffect><i class="material-icons">save</i></div>
		<div class="list-group-item waves-light" mdbWavesEffect><i class="material-icons">settings</i></div>
	</div>
</div>