.chapters-list-title {
	text-align: center;
}

.m-0 {
	margin: 0 !important;
	width: 100% !important;
}

.chapters-list {

	.chapter-item {
		box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
		border: 0;
		padding: 1rem;
	}

	.chapter-position {
		font-weight: bold;

	}

	.chapter-title {
		font-weight: bold;
	}
}
