<div class="container justify-content-center">
	<h3 class="chapters-list-title mt-3">Список глав</h3>
</div>

<div class="container justify-content-center">
	<app-preloader [display]="display ? 'block' : 'none'"></app-preloader>
	<div [style.display]="display ? 'none' : 'block'" class="chapters-list">
		<div class="row chapter-item m-0">
			<div class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 d-flex justify-content-center chapter-position">#</div>
			<div class="col-10 col-sm-10 col-md-10 col-lg-11 сol-xl-11 chapter-title">Название</div>
		</div>
		<div class="row m-0" *ngFor="let chapter of chapters">
			<app-chapter-item [title]="chapter.title" [chapter_id]="chapter.id" [position]="chapter.position" class='row chapter-item m-0'></app-chapter-item>
		</div>
	</div>
</div>